{% extends 'mytasks/base.html' %}
{% block content %}
    {# Greeting Message #}
    <div class="container my-5">
        <h1>Hello World </h1>
        <span> 현재 페이지: {{ today_obj.today_url }} </span> <br>
        <span> 현재 시각 : {{ today_obj.today_datetime }}</span>
    </div>

    {# Print TodayTasks Model#}
    <div class="container" id="main-area">
        {% if today_tasks %}
            {% for task in today_tasks %}
                <div class="container m-4">
                    <div class="container">
                        <h4>{{ task.title }}</h4>
                        <p>
                            {% if task.contents %}
                                {{ task.contents }}
                                <br>
                            {% endif %}

                            <span>작성일: {{ task.created_date }} </span>
                            <br>
                            <span>중요도: {{ task.importance }}</span>
                            <br>
                            <span>완료여부: {{ task.is_completed }}</span>
                            <br>
                        </p>
                    </div>
                    {#       Delete task button         #}
                    <div class="container">
                        <form action="{% url 'mytasks:delete' task.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </div>

                </div>
            {% endfor %}
        {% else %}
            <h4>There are no today tasks</h4>
        {% endif %}

        <br>

        <a type="button" class="my-2 btn btn-info" href="{% url 'mytasks:today' today_obj.today_url %}">Today</a>

        <br>

        {# new task POST    #}
        <form action="{% url 'mytasks:main' %}" method="POST">
            {% csrf_token %}
            <label>
                <input type="text" name="task_title_input">
            </label>
            <input type="submit" class="btn btn-primary" value="Add task">
        </form>


    </div>

    <br><br><br>
    <hr>

    {# Table #}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}